extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="eApps-Centaur" style="max-width: 100%; width: 100%; min-width: 100%; position: relative; display: inline-block" )
  a(href="https://obtest18.centaurportal.com/d4w/org-16/fsearchMobileFriendly?practiceID=15&sourceID=51") Book it now
  script(id="iframeTemplate" type="text/html").
    <iframe height='900px' sandbox="allow-same-origin allow-top-navigation allow-scripts allow-popups allow-forms" src="https://obtest18.centaurportal.com/d4w/org-16/fsearchMobileFriendly?practiceID=15&sourceID=5" allowtransparency='true' style='width: inherit'></iframe>

  script.
    var element,
        html,
        template;

    element = document.getElementById("eApps-Centaur");
    template = document.getElementById("iframeTemplate");
    html = template.innerHTML;

    element.innerHTML = html;
