extends layout

block content
  h1= title
  p Welcome to #{title}

  script(id="iframeTemplate" type="text/html").
    <iframe height='900px' src="https://obtest18.centaurportal.com/d4w/org-16/fsearchMobileFriendly" allowtransparency='true' style='width: inherit'></iframe>

  a(href="https://obtest18.centaurportal.com/d4w/org-194/fsearchMobileFriendly") Book it now
