extends layout

block content
	h1= title
	p Welcome to #{title}

	iframe(width="100%" height="900px" src="https://www.centaurportal.com/d4w/org-69/fsearch?practiceID=71" allowtransparency="true" style="max-width: 100%")
