extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="eApps-Centaur" style="max-width: 100%; width: 100%; min-width: 100%; position: relative; display: inline-block" )

  script(id="iframeTemplate" type="text/html").
    <iframe height='900px' src="https://obtest18.centaurportal.com/d4w/org-16/iframeWorkAround" allowtransparency='true' style='width: inherit'></iframe>

  script.
    var element,
        html,
        template;

    element = document.getElementById("eApps-Centaur");
    template = document.getElementById("iframeTemplate");
    html = template.innerHTML;

    element.innerHTML = html;
