extends layout

block content
	h1= title
	p Welcome to #{title}

	iframe(width="100%" height="900px" src="https://obtest18.centaurportal.com/d4w/0315/org-16/fsearch?practiceID=160" allowtransparency="true" style="max-width: 100%")
