extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="centaurIframe" style="max-width: 100%; width: 100%; min-width: 100%; position: relative; display: inline-block" )
  a(href="https://obtest18.centaurportal.com/d4w/org-15/fsearchMobileFriendly?sourceID=51") Book it now
