doctype html
html
  head
    title= title
    meta(http-Equiv="Cache-Control" Content="no-cache")
    meta(http-Equiv="Pragma" Content="no-cache")
    meta(http-Equiv="Expires" Content="0")
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(style="font-family: 'Metrophobic', Arial, serif; font-weight: 400;")
    block content
