html, body {
 background: rgba(0,0,0,0);
 font-family: Arial, sans-serif;
}

.page:before {
 background-image: none;
}

.button:hover,
.button:focus,
.button:active,
.button_search:hover, .ss_btn-cstyle3:hover,
.button_search-tab_book {
 background-color: #758996;
 color: #eee !important;
} 

.button_search-tab_book,
.button_search {
 color: #758996;
}

.search-request, 
.button, .ss_btn-cstyle3,
.select2-results .select2-highlighted,
.spa_btn-cstyle3 {
 background-color: #d5e9f6;
 background: #d5e9f6;
}
 
.footer__privacy,
.profile__terms-link, .link {
 color: #d5e9f6 !important;
}

.header__menu-toggler,
.link:hover, 
.profile__terms-link:hover,
.spa_btn-cstyle3:hover {
 color: #758996 !important;
}

.link:active,
.spa_btn-cstyle3:active,
.spa_btn-cstyle3:focus,
.button__active {
 color: #5589a6 !important;
}

.link:visited {
 color: #d5e9f6;
}

.select2-arrow > b::before {
 color: #d5e9f6
}

.field__icon.field__icon_map > use {
 fill: #eee;
}

.field__icon:hover {
 fill: #758996 !important;
}

.prev:hover,
.next:hover,
.search-presentation .select2-arrow b:before {
 color: #758996 !important;
}

.field__icon:active {
 fill: #5589a6;
}

.time-range__sort::after {
 border-top-color: #d5e9f6;
}

.time-range__sort:before {
 border-bottom-color: #d5e9f6;
}

.datepicker-days td:hover {
	background: #d5e9f6;
}

.datepicker-days td.active {
	background: #5589a6;
}

.datepicker-days td:hover,
.datepicker-days td.active {
	color: #fff;
	border-color: #d5e9f6;
}

.time__label {
 background-color: #a6b9cc;
}

.time__label_pm {
 background-color: #7c93aa;
}

.time__label:hover {
 color: #fff;
 background-color: #758996;
}

.time__input:checked + .time__label {
 color: #fff;
 background-color: #5589a6;
}

.time-range__bar,
.time-range__bar::before {
 background-color: #758996;
}

.time-range__track {
 background: linear-gradient(to right, #d5e9f6 0%, #758996 50%, #d5e9f6 100%);
}

.checkbox__label::after {
 border-bottom: 5px #d5e9f6 solid;
 border-left: 5px #d5e9f6 solid;
}

.time__label_disabled {
 color: #ccc;
 background-color: #eee;
}

.time__label_disabled2 {
 color: #ccc;
 background-color: #73706d;
}

.scroll-bar {
 background-color: #a6b9cc;
}

.scroll-bar:hover {
 background-color: #c4d9ee;
}

.scroll-bar:active {
 background-color: #7c93aa;
}

.search-presentation__results {
 background-color: #e22125;
}

.page__header-inner, .ss_green_link, .choose-provider__value,
.ss_title, .field__label, .spa_info_red_title, .spa_info_red_date, .spa_info_red,
.ss_info_text_container, .search-location__period, .search-location__date {
 color: #e22125 !important;
}

.search-location__day_today {
 border-color: #e22125 !important;
}

.select2-choice.ui-select-match, .spa_btn-cstyle3,
.ss_btn-cstyle, .ss_btn-cstyle2 {
 color: #73706d !important;
}

.datepicker-months .month:hover,
.datepicker-years .month:hover,
.datepicker-months .year:hover,
.datepicker-years .year:hover {
 background-color: #73706d;
 background: #73706d;
}


.datepicker-switch, .ss_btn-cstyle3, .search-aside__switcher, .search-presentation__switcher {
 color: #73706d !important;
}

.field__icon {
 fill: #d5e9f6 !important;
}

.field__icon_advanced-arrow {
 fill: #73706d !important;
}

.select2-arrow b::after {
 border-top-color: #73706d;
}

.button_light,
.button_fixed_once {
 color: #73706d;
 background-color: #d5e9f6;
}

.spa_btn-cstyle3:hover, 
.button_fixed_once:hover {
 background-color: #fbfbfb;
}

.field__label {
 font-size: 13px;
}

.main {
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
}
