html, body {
 background: rgba(0,0,0,0);
}

iframe {  
    -ms-zoom: 0.5;
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0px 50px;
    -o-transform: scale(0.5);
    -o-transform-origin: 0px 50px;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

.page:before {
 background-image: url("https://s00.yaplakal.com/pics/pics_original/2/7/6/7773672.jpg") !important;
}
.page {
 background-color: rgba(0,0,0,0) !important;
}

.search-request, 
.button, 
.select2-results .select2-highlighted,
.datepicker-months .month:hover,
.datepicker-years .month:hover,
.datepicker-months .year:hover,
.datepicker-years .year:hover,
.spa_btn-cstyle3 {
 background-color: #0b4e92;
 background: #0b4e92;
}
 
.link, 
.datepicker-switch, 
.select2-choice, 
.footer__privacy,
.profile__terms-link {
 color: #0b4e92 !important;
}

.link:hover,
.profile__terms-link:hover,
.spa_btn-cstyle3:hover,
.button:hover {
 color: #2264a7 !important;
}

.link:active,
.spa_btn-cstyle3:active,
.spa_btn-cstyle3:focus,
.button:active,
.button__active {
 color: #133b63 !important;
}

.link:visited {
 color: #0b4e92 !important;
}

.select2-arrow > b::before {
 color: #0b4e92
}

.field__icon.field__icon_map > use {
 fill: #eee;
}

.field__icon {
 fill: #0b4e92 !important;
}

.field__icon:hover {
 fill: #2264a7 !important;
}

.prev:hover,
.next:hover,
.search-presentation .select2-arrow b:before {
 color: #2264a7 !important;
}

.field__icon:active {
 fill: #133b63;
}

.select2-arrow b::after {
 border-top-color: #0b4e92;
}

.time-range__sort::after {
 border-top-color: #0b4e92;
}

.time-range__sort:before {
 border-bottom-color: #0b4e92;
}

.datepicker-days td:hover {
	background: #0b4e92;
}

.datepicker-days td.active {
	background: #133b63;
}

.datepicker-days td:hover,
.datepicker-days td.active {
	color: #fff;
	border-color: #0b4e92;
}

.time__label {
 background-color: #a6b9cc;
}

.time__label_pm {
 background-color: #7c93aa;
}

.time__label:hover {
 color: #fff;
 background-color: #2264a7;
}

.time__input:checked + .time__label {
 color: #fff;
 background-color: #133b63;
}

.time-range__bar::before {
 background-color: #0b4e92;
}

.time-range__track {
 background: linear-gradient(to right, #0b4e92 0%, #2264a7 50%, #0b4e92 100%);
}

.checkbox__label::after {
 border-bottom: 5px #0b4e92 solid;
 border-left: 5px #0b4e92 solid;
}

.time__label_disabled {
 color: #ccc;
 background-color: #eee;
}

.time__label_disabled2 {
 color: #ccc;
 background-color: #636050;
}

.scroll-bar {
 background-color: #a6b9cc;
}

.scroll-bar:hover {
 background-color: #c4d9ee;
}

.scroll-bar:active {
 background-color: #7c93aa;
}

.time-range__bar {
 background-color: #ca333f;
}

.page__header-inner, .field__label, .search-location__period, .search-location__date {
 color: #ca333f;
}

.search-location__day_today {
 border-color: #ca333f;
}

.button_light,
.button_fixed_once {
 color: #eee;
 background-color: #0b4e92;
}

.button_search:hover,
.button_fixed_once:hover {
 background-color: #d3cfcd;
}

.main {
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
}

.search-location__schedule {
	min-width: 320px;
}
.search-location__day {
	min-width: 82px;
	margin: 2px;
}

@media only screen and (max-width: 480px) {

	.search-location__schedule,
	.search-location__weeks {
		overflow: visible;
	}
	
	/*
	.search-location__weeks {
		overflow: scroll;
	}
	.search-location__weekday {
		font-size: 16px;
		font-weight: bold;
	}
	.search-location__day {
		width: 51px;
		min-width: 51px;
	}
	.time__label {
    		width: 56px;
    		font-size: 15px;
	}
	.search-location__date {
		font-size: 16px;
	}
	*/
}
