html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

body {
  padding: 50px;
  font-family: 'Metrophobic', Arial, serif; font-weight: 400;
  background-color: #3366CC;
}

a {
  color: #00B7FF;
}

@media(max-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }
    iframe {
        border: 0;
    }
}

iframe {
	width: 1px;
    	min-width: 100%;
	max-width: 100%;
	position: relative;
	display: block;
}
